<div style="text-align:center" >
  <img width="300" src = "./assets/tpu_logotip_rgb-04.png">
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 hid">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-3 text-center">
          <form class="form-group col-xs-10" #f="ngForm" (ngSubmit)="onLogin(f.value)" *ngIf="!auth.loggedIn()">
            <input class="form-control" type="text" placeholder="username" name="username" ngModel required> <br>
            <input class="form-control" type="password" placeholder="password" name="password" ngModel> <br>
            <button class="btn btn-primary btn-md btn-block" type="submit">login</button>
            <span *ngIf="auth.isLoginFailed()">Неправильное имя и/или пароль!</span>
            <!--  <button (click)="logout()">logout</button> -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
