<!--The content below is only a placeholder and can be replaced.-->
<script src="../main.ts"></script>
<div align="right">
  <form  *ngIf="auth.loggedIn()">
    <button class="btn btn-success btn-md" (click)="logout()">logout</button>
  </form>
</div>
<hr style="color: darkgray">
<div>
  <nav *ngIf="auth.isAdmin() && auth.loggedIn()" class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active">  <a routerLink="./admin">Заблокированные</a></li>
          <li> <a routerLink="./user-status">Статус порта</a></li>
          <li><a routerLink="./dhcplog">DHCP</a></li>
          <li><a routerLink="./customerinfo">Информация о пользователе</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <router-outlet></router-outlet>
</div>

